html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='css/styles.css')
    title BrandSense
  body(onload = 'login')
    .mainNav
      .brand BrandSense
      
      a(href='/login') Login
      a(href='/scans') Scans
      a(href='/about') About
      a(href='/') Home
    
    #loginContainer
      .login-container
        form(action='auth',method='POST')
          .loginTitle
            p Login
          input.login(type='text', placeholder='Username', name='username')
          input.login(type='password', placeholder='Password', name='password')
          button.loginButton(type='submit',formaction='auth') Login
          button.loginButton(type='submit',formaction='createuser') Create Account
